{% extends 'base.html' %}

{% block title %}Server Error - Remote Hive{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <img src="{{ url_for('static', filename='img/500.svg') }}" alt="500 Error" class="img-fluid mb-4" style="max-height: 250px;">
            <h1 class="display-4 mb-4">Server Error</h1>
            <p class="lead mb-4">Something went wrong on our end. Please try again later.</p>
            <div class="d-flex justify-content-center">
                <a href="{{ url_for('index') }}" class="btn btn-primary me-2">Go Home</a>
                <a href="javascript:history.back()" class="btn btn-outline-secondary">Go Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}